# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
ENV/
env/

# FastAPI / Uvicorn
*.log

# Environment variables
.env
.env.*    # ignore all env files except sample

# Ignore compiled files
*.so

# IDE / Editor
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations / SQLite (if any)
*.sqlite3
alembic/__pycache__/
alembic/versions/__pycache__/

.zed
.zed/*
